# World University Rankings 2023 #

## STAT 301 Group Project

### Introduction

Start with relevant background information on the topic to prepare those unfamiliar for the rest of your proposal.

Formulate one or two questions for investigation and detail the dataset that will be utilized to address these questions.

Additionally, align your question/objectives with the existing literature. To contextualize your study, include a minimum of two scientific publications (these should be listed in the References section).

### Methods and Results

In this section, you will include:

**a) “Exploratory Data Analysis (EDA)”**

- Demonstrate that the dataset can be read into R.
- Clean and wrangle your data into a tidy format.
- Plot the relevant raw data, tailoring your plot to address your question.
  - Make sure to explore the association of the explanatory variables with the response.
- Any summary tables that are relevant to your analysis.
- Be sure not to print output that takes up a lot of screen space.
- Your EDA must be comprehensive with high quality plots.

**b) “Methods: Plan”**

- Describe in written English the methods you used to perform your analysis from beginning to end, and narrate the code that does the analysis.
- If included, describe the “Feature Selection” process and how and why you choose the covariates of your final model.
- Make sure to interpret/explain the results you obtain. It’s not enough to just say, “I fitted a linear model with these covariates, and my R-square is 0.87”.
  - If inference is the aim of your project, a detailed interpretation of your fitted model is required, as well as a discussion of relevant quantities (e.g., are the coefficients significant? How does the model fit the data)?
  - A careful model assessment must be conducted.
  - If prediction is the project's aim, describe the test data used or how it was created.
- Ensure your tables and/or figures are labelled with a figure/table number.

In [5]:
library(tidyverse)
library(GGally)

Warning message:
“package ‘dplyr’ was built under R version 4.3.2”
Warning message:
“package ‘stringr’ was built under R version 4.3.2”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message:
“package ‘GGally’ was built under R version 4.3.2”
Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [9]:
# part a
#loading and fixing column names
university_data <- read_csv("uni_rankings_2023.csv")
colnames(university_data) <- c("university_rank", "name_of_university", "location", "no_of_student", "no_of_student_per_staff", 
                               "international_student", "female_male_ratio", "overall_score", "teaching_score", "research_score",
                               "citations_score","industry_income_score", "international_outlook_score")
head(university_data)

university_data_cleaned <- university_data |>
mutate(international_student = as.numeric(gsub("%", "", international_student)) / 100,
      female_male_ratio = as.numeric(sub(":.*", "", female_male_ratio))/as.numeric(sub(".*:", "", female_male_ratio)),
      overall_score = as.numeric(overall_score),
      teaching_score = as.numeric(teaching_score),
      research_score = as.numeric(research_score),
      citations_score = as.numeric(citations_score),
      industry_income_score = as.numeric(industry_income_score),
      international_outlook_score = as.numeric(international_outlook_score)) |>
drop_na()

head(university_data_cleaned)

Rows: 2341 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (11): University Rank, Name of University, Location, International Stude...
dbl  (1): No of student per staff
num  (1): No of student

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  university_rank name_of_university                    location
1 1               University of Oxford                  United Kingdom
2 2               Harvard University                    United States
3 3               University of Cambridge               United Kingdom
4 3               Stanford University                   United States
5 5               Massachusetts Institute of Technology United States
6 6               California Institute of Technology    United States
  no_of_student no_of_student_per_staff international_student female_male_ratio
1 20965         10.6                    42%                   48 : 52
2 21887          9.6                    25%                   50 : 50
3 20185         11.3                    39%                   47 : 53
4 16164          7.1                    24%                   46 : 54
5 11415          8.2                    33%                   40 : 60
6  2237          6.2                    34%                   37 : 63
  overall_score teaching_score research_score citations_score
1 96.4          92.3           99.7           99.0
2 95.2          94.8           99.0           99.3
3 94.8          90.9           99.5           97.0
4 94.8          94.2           96.7           99.8
5 94.2          90.7           93.6           99.8
6 94.1          90.9           97.0           97.3
  industry_income_score international_outlook_score
1 74.9                  96.2
2 49.5                  80.5
3 54.2                  95.8
4 65.0                  79.8
5 90.9                  89.3
6 89.8                  83.6

Warning message:
“There were 6 warnings in `mutate()`.
The first warning was:
ℹ In argument: `overall_score = as.numeric(overall_score)`.
Caused by warning:
! NAs introduced by coercion
ℹ Run `dplyr::last_dplyr_warnings()` to see the 5 remaining warnings.”

  university_rank name_of_university                    location
1 1               University of Oxford                  United Kingdom
2 2               Harvard University                    United States
3 3               University of Cambridge               United Kingdom
4 3               Stanford University                   United States
5 5               Massachusetts Institute of Technology United States
6 6               California Institute of Technology    United States
  no_of_student no_of_student_per_staff international_student female_male_ratio
1 20965         10.6                    0.42                  0.9230769
2 21887          9.6                    0.25                  1.0000000
3 20185         11.3                    0.39                  0.8867925
4 16164          7.1                    0.24                  0.8518519
5 11415          8.2                    0.33                  0.6666667
6  2237          6.2                    0.34                  0.5873016
  overall_score teaching_score research_score citations_score
1 96.4          92.3           99.7           99.0
2 95.2          94.8           99.0           99.3
3 94.8          90.9           99.5           97.0
4 94.8          94.2           96.7           99.8
5 94.2          90.7           93.6           99.8
6 94.1          90.9           97.0           97.3
  industry_income_score international_outlook_score
1 74.9                  96.2
2 49.5                  80.5
3 54.2                  95.8
4 65.0                  79.8
5 90.9                  89.3
6 89.8                  83.6

In [4]:
# part b

### Discussion

In this section, you’ll interpret the results you obtained in the previous section with respect to the main question/goal of your project.

Summarize what you found and the implications/impact of your findings.
If relevant, discuss whether your results were what you expected to find.
Discuss how your model could be improved;
Discuss future questions/research this study could lead to.

### References

At least two citations of literature relevant to the project. The citation format is your choice – just be consistent. Make sure to cite the source of your data as well.